@import "../fontawesome/assets/stylesheets/font-awesome/variables";

// use the font from Bootstrap CDN font files directly
$fa-font-path:"//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts"; 

@import "../fontawesome/assets/stylesheets/font-awesome/mixins";
@import "../fontawesome/assets/stylesheets/font-awesome/path";
//@import "../fontawesome/assets/stylesheets/font-awesome/core";
//@import "../fontawesome/assets/stylesheets/font-awesome/larger";
//@import "../fontawesome/assets/stylesheets/font-awesome/fixed-width";
//@import "../fontawesome/assets/stylesheets/font-awesome/list";
//@import "../fontawesome/assets/stylesheets/font-awesome/bordered-pulled";
//@import "../fontawesome/assets/stylesheets/font-awesome/animated";
//@import "../fontawesome/assets/stylesheets/font-awesome/rotated-flipped";
//@import "../fontawesome/assets/stylesheets/font-awesome/stacked";
//@import "../fontawesome/assets/stylesheets/font-awesome/icons";
//@import "../fontawesome/assets/stylesheets/font-awesome/screen-reader";

$jquery-ui-icon-prefix: ui-icon;

/// 設定 Font Awesome Icon，避免缺乏變數造成的錯誤
@mixin set-fa-icon($icon){
	@if(variable-exists($icon)){
		&:before{content: $icon}
	}
}

.#{$jquery-ui-icon-prefix}{
	@include fa-icon;
	
	&.#{$jquery-ui-icon-prefix}-blank{
		&:before{content: ' '}
	}
	&.#{$jquery-ui-icon-prefix}-caret-1-n{
		@include set-fa-icon($fa-var-angle-up);
	}
	&.#{$jquery-ui-icon-prefix}-caret-1-ne{

	}
	&.#{$jquery-ui-icon-prefix}-caret-1-e{
		@include set-fa-icon($fa-var-angle-right);
	}
	&.#{$jquery-ui-icon-prefix}-caret-1-se{

	}
	&.#{$jquery-ui-icon-prefix}-caret-1-s{
		@include set-fa-icon($fa-var-angle-down);
	}
	&.#{$jquery-ui-icon-prefix}-caret-1-sw{

	}
	&.#{$jquery-ui-icon-prefix}-caret-1-w{
		@include set-fa-icon($fa-var-angle-left);
	}
	&.#{$jquery-ui-icon-prefix}-caret-1-nw{

	}
	&.#{$jquery-ui-icon-prefix}-caret-2-n-s{

	}
	&.#{$jquery-ui-icon-prefix}-caret-2-e-w{
		&:before{content: '#{$fa-var-angle-left} #{$fa-var-angle-right}'}
	}
	&.#{$jquery-ui-icon-prefix}-triangle-1-n{
		@include set-fa-icon($fa-var-caret-up);
	}
	&.#{$jquery-ui-icon-prefix}-triangle-1-ne{

	}
	&.#{$jquery-ui-icon-prefix}-triangle-1-e{
		@include set-fa-icon($fa-var-caret-right);
	}
	&.#{$jquery-ui-icon-prefix}-triangle-1-se{

	}
	&.#{$jquery-ui-icon-prefix}-triangle-1-s{
		@include set-fa-icon($fa-var-caret-down);
	}
	&.#{$jquery-ui-icon-prefix}-triangle-1-sw{

	}
	&.#{$jquery-ui-icon-prefix}-triangle-1-w{
		@include set-fa-icon($fa-var-caret-left);
	}
	&.#{$jquery-ui-icon-prefix}-triangle-1-nw{
		
	}
	&.#{$jquery-ui-icon-prefix}-triangle-2-n-s{

	}
	&.#{$jquery-ui-icon-prefix}-triangle-2-e-w{
		&:before{content: '#{$fa-var-caret-left} #{$fa-var-caret-right}'}
	}
	&.#{$jquery-ui-icon-prefix}-arrow-1-n{
		@include set-fa-icon($fa-var-arrow-up);
	}
	&.#{$jquery-ui-icon-prefix}-arrow-1-ne{

	}
	&.#{$jquery-ui-icon-prefix}-arrow-1-e{
		@include set-fa-icon($fa-var-arrow-right);
	}
	&.#{$jquery-ui-icon-prefix}-arrow-1-se{

	}
	&.#{$jquery-ui-icon-prefix}-arrow-1-s{
		@include set-fa-icon($fa-var-arrow-down);
	}
	&.#{$jquery-ui-icon-prefix}-arrow-1-sw{

	}
	&.#{$jquery-ui-icon-prefix}-arrow-1-w{
		@include set-fa-icon($fa-var-arrow-left);
	}
	&.#{$jquery-ui-icon-prefix}-arrow-1-nw{

	}
	&.#{$jquery-ui-icon-prefix}-arrow-2-n-s{

	}
	&.#{$jquery-ui-icon-prefix}-arrow-2-ne-sw{
 		@include set-fa-icon($fa-var-expand);
	}
	&.#{$jquery-ui-icon-prefix}-arrow-2-e-w{
		&:before{content: '#{$fa-var-arrow-left} #{$fa-var-arrow-right}'}
	}
	&.#{$jquery-ui-icon-prefix}-arrow-2-se-nw{

	}
	&.#{$jquery-ui-icon-prefix}-arrowstop-1-n{

	}
	&.#{$jquery-ui-icon-prefix}-arrowstop-1-e{

	}
	&.#{$jquery-ui-icon-prefix}-arrowstop-1-s{

	}
	&.#{$jquery-ui-icon-prefix}-arrowstop-1-w{

	}
	&.#{$jquery-ui-icon-prefix}-arrowthick-1-n{

	}
	&.#{$jquery-ui-icon-prefix}-arrowthick-1-ne{

	}
	&.#{$jquery-ui-icon-prefix}-arrowthick-1-e{

	}
	&.#{$jquery-ui-icon-prefix}-arrowthick-1-se{

	}
	&.#{$jquery-ui-icon-prefix}-arrowthick-1-s{

	}
	&.#{$jquery-ui-icon-prefix}-arrowthick-1-sw{

	}
	&.#{$jquery-ui-icon-prefix}-arrowthick-1-w{

	}
	&.#{$jquery-ui-icon-prefix}-arrowthick-1-nw{

	}
	&.#{$jquery-ui-icon-prefix}-arrowthick-2-n-s{

	}
	&.#{$jquery-ui-icon-prefix}-arrowthick-2-ne-sw{

	}
	&.#{$jquery-ui-icon-prefix}-arrowthick-2-e-w{

	}
	&.#{$jquery-ui-icon-prefix}-arrowthick-2-se-nw{

	}
	&.#{$jquery-ui-icon-prefix}-arrowthickstop-1-n{

	}
	&.#{$jquery-ui-icon-prefix}-arrowthickstop-1-e{

	}
	&.#{$jquery-ui-icon-prefix}-arrowthickstop-1-s{

	}
	&.#{$jquery-ui-icon-prefix}-arrowthickstop-1-w{

	}
	&.#{$jquery-ui-icon-prefix}-arrowreturnthick-1-w{

	}
	&.#{$jquery-ui-icon-prefix}-arrowreturnthick-1-n{

	}
	&.#{$jquery-ui-icon-prefix}-arrowreturnthick-1-e{

	}
	&.#{$jquery-ui-icon-prefix}-arrowreturnthick-1-s{

	}
	&.#{$jquery-ui-icon-prefix}-arrowreturn-1-w{

	}
	&.#{$jquery-ui-icon-prefix}-arrowreturn-1-n{

	}
	&.#{$jquery-ui-icon-prefix}-arrowreturn-1-e{

	}
	&.#{$jquery-ui-icon-prefix}-arrowreturn-1-s{

	}
	&.#{$jquery-ui-icon-prefix}-arrowrefresh-1-w{

	}
	&.#{$jquery-ui-icon-prefix}-arrowrefresh-1-n{

	}
	&.#{$jquery-ui-icon-prefix}-arrowrefresh-1-e{

	}
	&.#{$jquery-ui-icon-prefix}-arrowrefresh-1-s{

	}
	&.#{$jquery-ui-icon-prefix}-arrow-4{
		@include set-fa-icon($fa-var-arrows);
	}
	&.#{$jquery-ui-icon-prefix}-arrow-4-diag{
		@include set-fa-icon($fa-var-arrows-alt);
	}
	&.#{$jquery-ui-icon-prefix}-extlink{
		@include set-fa-icon($fa-var-external-link);
	}
	&.#{$jquery-ui-icon-prefix}-newwin{
		@include set-fa-icon($fa-var-window-restore);
	}
	&.#{$jquery-ui-icon-prefix}-refresh{
		@include set-fa-icon($fa-var-refresh);
	}
	&.#{$jquery-ui-icon-prefix}-shuffle{
		@include set-fa-icon($fa-var-random);
	}
	&.#{$jquery-ui-icon-prefix}-transfer-e-w{
		@include set-fa-icon($fa-var-exchange);
	}
	&.#{$jquery-ui-icon-prefix}-transferthick-e-w{

	}
	&.#{$jquery-ui-icon-prefix}-folder-collapsed{
		@include set-fa-icon($fa-var-folder-o);
	}
	&.#{$jquery-ui-icon-prefix}-folder-open{
		@include set-fa-icon($fa-var-folder-open-o);
	}
	&.#{$jquery-ui-icon-prefix}-document{
		@include set-fa-icon($fa-var-file);
	}
	&.#{$jquery-ui-icon-prefix}-document-b{
		@include set-fa-icon($fa-var-sticky-note-o);
	}
	&.#{$jquery-ui-icon-prefix}-note{
		@include set-fa-icon($fa-var-book);
	}
	&.#{$jquery-ui-icon-prefix}-mail-closed{
		@include set-fa-icon($fa-var-envelope-o);
	}
	&.#{$jquery-ui-icon-prefix}-mail-open{
		@include set-fa-icon($fa-var-envelope-open-o);
	}
	&.#{$jquery-ui-icon-prefix}-suitcase{
		@include set-fa-icon($fa-var-suitcase);
	}
	&.#{$jquery-ui-icon-prefix}-comment{
		@include set-fa-icon($fa-var-commenting-o);
	}
	&.#{$jquery-ui-icon-prefix}-person{
		@include set-fa-icon($fa-var-user);
	}
	&.#{$jquery-ui-icon-prefix}-print{
		@include set-fa-icon($fa-var-print);
	}
	&.#{$jquery-ui-icon-prefix}-trash{
		@include set-fa-icon($fa-var-trash);
	}
	&.#{$jquery-ui-icon-prefix}-locked{
		@include set-fa-icon($fa-var-lock);
	}
	&.#{$jquery-ui-icon-prefix}-unlocked{
		@include set-fa-icon($fa-var-unlock);
	}
	&.#{$jquery-ui-icon-prefix}-bookmark{
		@include set-fa-icon($fa-var-bookmark);
	}
	&.#{$jquery-ui-icon-prefix}-tag{
		@include set-fa-icon($fa-var-tag);
	}
	&.#{$jquery-ui-icon-prefix}-home{
		@include set-fa-icon($fa-var-home);
	}
	&.#{$jquery-ui-icon-prefix}-flag{
		@include set-fa-icon($fa-var-flag);
	}
	&.#{$jquery-ui-icon-prefix}-calculator{
		@include set-fa-icon($fa-var-calculator);
	}
	&.#{$jquery-ui-icon-prefix}-cart{
		@include set-fa-icon($fa-var-shopping-cart);
	}
	&.#{$jquery-ui-icon-prefix}-pencil{
		@include set-fa-icon($fa-var-pencil);
	}
	&.#{$jquery-ui-icon-prefix}-clock{
		@include set-fa-icon($fa-var-clock-o);
	}
	&.#{$jquery-ui-icon-prefix}-disk{
		@include set-fa-icon($fa-var-floppy-o);
	}
	&.#{$jquery-ui-icon-prefix}-calendar{
		@include set-fa-icon($fa-var-calendar);
	}
	&.#{$jquery-ui-icon-prefix}-zoomin{
		@include set-fa-icon($fa-var-search-plus);
	}
	&.#{$jquery-ui-icon-prefix}-zoomout{
		@include set-fa-icon($fa-var-search-minus);
	}
	&.#{$jquery-ui-icon-prefix}-search{
		@include set-fa-icon($fa-var-search);
	}
	&.#{$jquery-ui-icon-prefix}-wrench{
		@include set-fa-icon($fa-var-wrench);
	}
	&.#{$jquery-ui-icon-prefix}-gear{
		@include set-fa-icon($fa-var-cog);
	}
	&.#{$jquery-ui-icon-prefix}-heart{
		@include set-fa-icon($fa-var-heart);
	}
	&.#{$jquery-ui-icon-prefix}-star{
		@include set-fa-icon($fa-var-star);
	}
	&.#{$jquery-ui-icon-prefix}-link{
		@include set-fa-icon($fa-var-link);
	}
	&.#{$jquery-ui-icon-prefix}-cancel{
		@include set-fa-icon($fa-var-ban);
	}
	&.#{$jquery-ui-icon-prefix}-plus{
		@include set-fa-icon($fa-var-plus);
	}
	&.#{$jquery-ui-icon-prefix}-plusthick{
		@include set-fa-icon($fa-var-plus);
	}
	&.#{$jquery-ui-icon-prefix}-minus{
		@include set-fa-icon($fa-var-minus);
	}
	&.#{$jquery-ui-icon-prefix}-minusthick{
		@include set-fa-icon($fa-var-minus);
	}
	&.#{$jquery-ui-icon-prefix}-close{
		@include set-fa-icon($fa-var-close);
	}
	&.#{$jquery-ui-icon-prefix}-closethick{
		@include set-fa-icon($fa-var-close);
	}
	&.#{$jquery-ui-icon-prefix}-key{
		@include set-fa-icon($fa-var-key);
	}
	&.#{$jquery-ui-icon-prefix}-lightbulb{
		@include set-fa-icon($fa-var-lightbulb-o);
	}
	&.#{$jquery-ui-icon-prefix}-scissors{
		@include set-fa-icon($fa-var-scissors);
	}
	&.#{$jquery-ui-icon-prefix}-clipboard{
		@include set-fa-icon($fa-var-clipboard);
	}
	&.#{$jquery-ui-icon-prefix}-copy{
		@include set-fa-icon($fa-var-files-o);
	}
	&.#{$jquery-ui-icon-prefix}-contact{
		@include set-fa-icon($fa-var-id-card-o);
	}
	&.#{$jquery-ui-icon-prefix}-image{
		@include set-fa-icon($fa-var-picture-o);
	}
	&.#{$jquery-ui-icon-prefix}-video{
		@include set-fa-icon($fa-var-video-camera);
	}
	&.#{$jquery-ui-icon-prefix}-script{
		@include set-fa-icon($fa-var-file-code-o);
	}
	&.#{$jquery-ui-icon-prefix}-alert{
		@include set-fa-icon($fa-var-exclamation-triangle);
	}
	&.#{$jquery-ui-icon-prefix}-info{
		@include set-fa-icon($fa-var-info);
	}
	&.#{$jquery-ui-icon-prefix}-notice{
		@include set-fa-icon($fa-var-exclamation);
	}
	&.#{$jquery-ui-icon-prefix}-help{
		@include set-fa-icon($fa-var-question);
	}
	&.#{$jquery-ui-icon-prefix}-check{
		@include set-fa-icon($fa-var-check);
	}
	&.#{$jquery-ui-icon-prefix}-bullet{

	}
	&.#{$jquery-ui-icon-prefix}-radio-off{

	}
	&.#{$jquery-ui-icon-prefix}-radio-on{

	}
	&.#{$jquery-ui-icon-prefix}-pin-w{
		&:before{
			content: $fa-var-thumb-tack;
			filter: none;
			@include fa-icon-rotate(90deg, 1); 
		}
	}
	&.#{$jquery-ui-icon-prefix}-pin-s{
		@include set-fa-icon($fa-var-thumb-tack);
	}
	&.#{$jquery-ui-icon-prefix}-play{
		@include set-fa-icon($fa-var-play);
	}
	&.#{$jquery-ui-icon-prefix}-pause{
		@include set-fa-icon($fa-var-pause);
	}
	&.#{$jquery-ui-icon-prefix}-seek-next{
		@include set-fa-icon($fa-var-forward);
	}
	&.#{$jquery-ui-icon-prefix}-seek-prev{
		@include set-fa-icon($fa-var-backward);
	}
	&.#{$jquery-ui-icon-prefix}-seek-end{
		@include set-fa-icon($fa-var-step-forward);
	}
	&.#{$jquery-ui-icon-prefix}-seek-first{
		@include set-fa-icon($fa-var-step-backward);
	}
	&.#{$jquery-ui-icon-prefix}-stop{
		@include set-fa-icon($fa-var-stop);
	}
	&.#{$jquery-ui-icon-prefix}-eject{
		@include set-fa-icon($fa-var-eject);
	}
	&.#{$jquery-ui-icon-prefix}-volume-off{
		@include set-fa-icon($fa-var-volume-off);
	}
	&.#{$jquery-ui-icon-prefix}-volume-on{
		@include set-fa-icon($fa-var-volume-up);
	}
	&.#{$jquery-ui-icon-prefix}-power{
		@include set-fa-icon($fa-var-power-off);
	}
	&.#{$jquery-ui-icon-prefix}-signal-diag{
		@include set-fa-icon($fa-var-rss);
	}
	&.#{$jquery-ui-icon-prefix}-signal{
		@include set-fa-icon($fa-var-signal);//
	}
	&.#{$jquery-ui-icon-prefix}-battery-0{
		@include set-fa-icon($fa-var-battery-empty);
	}
	&.#{$jquery-ui-icon-prefix}-battery-1{
		@include set-fa-icon($fa-var-battery-quarter);
	}
	&.#{$jquery-ui-icon-prefix}-battery-2{
		@include set-fa-icon($fa-var-battery-half);
	}
	&.#{$jquery-ui-icon-prefix}-battery-3{
		@include set-fa-icon($fa-var-battery-full);
	}
	&.#{$jquery-ui-icon-prefix}-circle-plus{
		@include set-fa-icon($fa-var-plus-circle);
	}
	&.#{$jquery-ui-icon-prefix}-circle-minus{
		@include set-fa-icon($fa-var-minus-circle);
	}
	&.#{$jquery-ui-icon-prefix}-circle-close{
		@include set-fa-icon($fa-var-times-circle);
	}
	&.#{$jquery-ui-icon-prefix}-circle-triangle-e{
		@include set-fa-icon($fa-var-chevron-circle-right);
	}
	&.#{$jquery-ui-icon-prefix}-circle-triangle-s{
		@include set-fa-icon($fa-var-chevron-circle-down);
	}
	&.#{$jquery-ui-icon-prefix}-circle-triangle-w{
		@include set-fa-icon($fa-var-chevron-circle-left);
	}
	&.#{$jquery-ui-icon-prefix}-circle-triangle-n{
		@include set-fa-icon($fa-var-chevron-circle-up);
	}
	&.#{$jquery-ui-icon-prefix}-circle-arrow-e{
		@include set-fa-icon($fa-var-arrow-circle-riight);
	}
	&.#{$jquery-ui-icon-prefix}-circle-arrow-s{
		@include set-fa-icon($fa-var-arrow-circle-down);
	}
	&.#{$jquery-ui-icon-prefix}-circle-arrow-w{
		@include set-fa-icon($fa-var-arrow-circle-left);
	}
	&.#{$jquery-ui-icon-prefix}-circle-arrow-n{
		@include set-fa-icon($fa-var-arrow-circle-up);
	}
	&.#{$jquery-ui-icon-prefix}-circle-zoomin{

	}
	&.#{$jquery-ui-icon-prefix}-circle-zoomout{

	}
	&.#{$jquery-ui-icon-prefix}-circle-check{
		@include set-fa-icon($fa-var-check-circle);
	}
	&.#{$jquery-ui-icon-prefix}-circlesmall-plus{
		@include set-fa-icon($fa-var-plus-square);
	}
	&.#{$jquery-ui-icon-prefix}-circlesmall-minus{
		@include set-fa-icon($fa-var-minus-square);
	}
	&.#{$jquery-ui-icon-prefix}-circlesmall-close{
		@include set-fa-icon($fa-var-window-close);
	}
	&.#{$jquery-ui-icon-prefix}-squaresmall-plus{
		@include set-fa-icon($fa-var-plus-square);
	}
	&.#{$jquery-ui-icon-prefix}-squaresmall-minus{
		@include set-fa-icon($fa-var-minus-square);
	}
	&.#{$jquery-ui-icon-prefix}-squaresmall-close{
		@include set-fa-icon($fa-var-window-close);
	}
	&.#{$jquery-ui-icon-prefix}-grip-dotted-vertical{

	}
	&.#{$jquery-ui-icon-prefix}-grip-dotted-horizontal{

	}
	&.#{$jquery-ui-icon-prefix}-grip-solid-vertical{

	}
	&.#{$jquery-ui-icon-prefix}-grip-solid-horizontal{

	}
	&.#{$jquery-ui-icon-prefix}-gripsmall-diagonal-se{

	}
	&.#{$jquery-ui-icon-prefix}-grip-diagonal-se{
		
	}
}
